@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Super Store: Your Cart";
}

<h2>Your Cart</h2>
<table width="90%" align="center">
    <thead>
    <tr>
        <th align="center">Quantity</th>
        <th align="left">Item</th>
        <th align="right">Price</th>
        <th align="right">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Cart.Lines)
    {
        <tr>
            <td align="center">@line.Quantity</td>
            <td align="left">@line.Product.Name</td>
            <td align="right">@line.Product.Price.ToString("c")</td>
            <td align="right">@((line.Product.Price * line.Quantity).ToString("c"))</td>
            <td align="right">
            @using (Html.BeginForm("RemoveFromCart","Cart"))
            {
                //Use Hidden as property "line.Product.ProductID" does not directly map to action name
                //Also we are taking from a iterated value within the model, not direct from the model top level
                @Html.Hidden("ProductId", line.Product.ProductID);
                @Html.HiddenFor(l => l.ReturnUrl);
                <input class="actionButtons" type="submit" value="Remove" />
            }
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">Total:</td>
            <td align="right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Continue Shopping</a>
    @Html.ActionLink("Checkout now", "Checkout");
</p>

@section CartSummary
{
@*    Nothing here - this replaces te default Basket option 
*@
}